<script>c=()=>document.body.innerHTML+=`<input maxlength=5 onchange=a()>`;a=()=>document.getElementById('a').innerText='replace Z2Ft... with: '+btoa([...document.getElementsByTagName('input')].map(e=>e.value).join(''))</script><p id=a></p><button onclick=c()>+