<script>g=0;a=new Date()%3*5;w=atob('Z2FtZXNqYW1teXNtYWxs').slice(a,a+5);c=v=>g++>5||(document.getElementById('a').innerHTML+=`<tr>${[...v].map((e,i)=>`<td style=background:${w[i]==e?'#4c4':w.includes(e)&&'#cc0'}>${e}`).join('')}`)</script><input onchange=c(value)><table id=a>